body {
  font-family: 'Courier New', Courier, monospace;
  background-color: aliceblue;
  color: grey;
}


.box{
  padding: 20px;
  background-color: white;
  border: 1px solid #80808059;
  width: 300px;  
  background: white;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;

  min-height: 450px;
  position: absolute;
  top: 10%;
  left: 40%;
}